/************Common Stylesheet************/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #225258;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/********************Navigation section*************/
.navigation{
   display: flex;
   justify-content: space-between;
}
.nav-title{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
nav ul li:last-child{
    margin-right: 0px;
    border: 1px solid;
    border-color: #ffffff;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
}
nav ul li:hover{
    background-color: #FF900E;
    transition: 1s;
}
nav ul li:hover a{
    color: #ffffff;
}
/************Banner section***************/
.banner{
    display: grid;
    grid-template-rows: auto;
}
.banner-detile{
    text-align: center;
    padding-top: 100px;
}
.banner-title{
    color: #ffffff;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 30px;
}
.banner-info{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 272px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FF900E;
}
.banner-image img{
    width: 100%;
    height: 700px;
}
/*****************Features section************/
.fearures-container{
    background-color: #ffffff;
}
.feature{
    display: flex;
    padding: 85px;
}
.Feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}
.image img{
    width: 250px;
    height: 250px;
}
.Feature-detile{
    padding-left: 73px;
    padding-top: 150px;
}
.feature-title{
    color: #727272;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 24px;
}
.title-color{
    color: #FF900E;
}
.of-our{
    color: #131313;
}
.feature-info{
    padding-bottom: 50px;
}
.btn-feature {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FF900E;
}
/******************Love & Enjoy Section**************************/
.love-container{
    background-color: #ffffff;
    display: flex;
    padding-top: 100px;
    padding-bottom: 30px;
    position: relative;
}
.love-content{
    padding-right: 50px;
    padding-top: 50px;
}
.love-title{
    font-size: 40px;
    font-weight: bold;
    color: #131313;
    padding-left: 20px;
    padding-bottom: 24px;
    border-left: 3px solid #FF900E;
}
.love-discription{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.love-detile{
    margin-top: 30px;
}
.enjoy-detile{
    margin-bottom: 20px;
    padding: 30px;
}
.enjoy-title{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.love-images img{
    width: 635px;
    height: 900px;
}
.btn-enjoy{
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF900E;
    border: none;
    border-radius: 6px;
    width: 289px;
    height: 150px;
    position: absolute;
    bottom: 5px;
    left: 42%;
}
.btn-enjoy span{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}
/*******************Some Fact Section*****************/
.some-fact-container{
    background-color: #ffffff;
    padding-top: 130px;
}
.fact-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    padding-bottom: 30px;
}
.fact-discription{
    font-size: 16px;
    font-weight: normal;
    color: #727272;
}
.fact-animation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 30px;
    padding-top: 70px;
}
.some-fact{
    position: relative;
    animation-name: some-fact;
    animation-duration: 8s;  
    animation-fill-mode: forwards;
    padding-left: 30px;
}

@keyframes some-fact {
    0%  {top:0px; left:0px;}
    50%  {top: 0px; left: 400px;}
    100% {top: 0px; left: 0px;}
  }
.animation{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 18px;
}
.animation-1{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 18px;
    position: relative;
    animation-duration: 4s;
    animation-name: animation-1;
    animation-delay: 1s;
}
@keyframes animation-1 {
    0%   {background-color:#FF900E; left:0px; top:0px;}
    50%  {background-color:blue; left:0px; top:-200px;}
    100% {background-color:#FF900E; left:0px; top:0px;}
  }
  .animation-2{
    position: relative;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 18px;
    position: relative;
    animation-duration: 4s;
    animation-name: animation-2;
    animation-delay: 1s;
}
@keyframes animation-2 {
    0%   {background-color:#FF900E; left:0px; top:0px;}
    50%  {background-color:blue; left:0px; top:-200px;}
    100% {background-color:#FF900E; left:0px; top:0px;}
  }
.animation img{
    width: 45px;
    height: 45px;
}
.animation-1 img{
    width: 45px;
    height: 45px;
}
.animation-2 img{
    width: 45px;
    height: 45px;
}
.animation h1{
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}
.animation-1 h1{
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}
.animation-2 h1{
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}
.animation p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
.animation-1 p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
.animation-2 p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
/**************Our Sponspors Section***************/
.sponspors-container{
    background-color: #ffffff;
    padding-top: 100px;
}
.sponspors-details{
    text-align: center;
}
.sponspors-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.sponspors-info{
    font-size: 16px;
    font-weight: normal;
    color: #727272;
    padding-top: 30px;
    padding-bottom: 54px;
}
.sponspors-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding-bottom: 100px;
    padding-top: 30px;
}
.sponspors-image img{
    width: 165px;
    height: 50px;
    filter: grayscale(1);
}

/*****************Footer Part**************/
.footer-container{
    background-color: #727272;
    border-top: 1px solid #727272;
}
.footer{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
}
.footer-title{
    color: #ffffff;
    padding-bottom: 16px;
}
.footer-detile{
    color: #ffffff;
    padding-bottom: 16px;
    line-height: 30px;
}
.social ul{
    display: flex;
}
.social ul li{
    padding: 10px;
}
.social ul{
    list-style: none;
    justify-content: center;
}
/**************Media Quary*************/
@media only screen and (max-width:576px){
    .navigation{
        display: grid;
        justify-content: center;
    }
    .nav-item ul{
       flex-direction: column;
       align-items: center;
    }
    .feature{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .Feature-detile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-info{
        padding: 0px 200px 50px 200px;
        text-align: center;
    }
    .Feature-images{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .image img{
        width: 750px;
        height: 750px;
    }
    .love-container{
        background-color: #727272;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .love-images img{
        width: 100%;
        height: 100%;
    }
    .love-info{
        text-align: center;
        padding: 0px 156px;
    }
    .love-title{
        color: #ffffff;
        border: 0;
    }
    .enjoy-detile{
        color: #ffffff;
    }
    .love-discription{
        color: #ffffff;
    }
    .love-detile{
        padding: 0px 156px;
    }
    .some-fact{
        text-align: center;
        padding: 0px 156px;
    }
    .fact-animation {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .animation-1{
        width: 700px;
        height: 220px;
        background-color: #727272;
        color: #ffffff;
        padding: 0;
    }
    .animation-1 img{
        width: 110px;
        height: 110px;
        padding-top: 10px;
    }
    .animation-1 h1{
        font-size: 50px;
    }
    .animation-2 img{
        width: 110px;
        height: 110px;
        padding-top: 10px;
    }
    .animation-2 h1{
        font-size: 50px;
    }
    .animation-2{
        width: 700px;
        height: 220px;
        background-color: #727272;
        color: #ffffff;
        padding: 0;
    }
    .animation{
        width: 700px;
        height: 220px;
        background-color: #727272;
        padding: 0;
    }
    .animation img{
        width: 110px;
        height: 110px;
        padding-top: 10px;
    }
    .animation p{
        color: #ffffff;
    }
    .animation h1{
        color: #ffffff;
    }
    .animation-1 h1{
        color: #ffffff;
    }
    .animation-2 h1{
        color: #ffffff;
    }
    @keyframes some-fact {
        0%  {top:0px; left:0px;}
      }
      .fact-animation{
        display: flex;
        flex-direction: column;
      }
      @keyframes animation-1 {
        0%   {background-color:#FF900E; left:0px; top:0px;}
      }
      @keyframes animation-2 {
        0%   {background-color:#FF900E; left:0px; top:0px;}
      }

      .footer-container{
        background-color: #727272;
      }
      .footer-detile{
        color: #ffffff;
      }
      .footer-title{
        color: #ffffff;
      }
    
}
